<!DOCTYPE html>
<html lang='en'>
  <head>
    <meta charset='utf-8' />
    <title>Friend's Forever</title>
    <link rel="stylesheet" type="text/css" href="{{url_for('static', filename='CSS/style.css') }}">
  </head>
  <body>
    <div id="container">
      <h1>My Friends (in no particular order)</h1>
      <table>
        <thead>
          <th>First Name</th>
          <th>Last Name</th>
          <th>Occupation</th>
        </thead>
        <tfoot>
          {% for friend in friends: %}
          <tr>
              <td>{{ friend['first_name'] }}</td>
              <td>{{ friend['last_name'] }}</td>
              <td>{{ friend['occupation'] }}</td>
              <td>
                <form action='/friends/value/edit' method='get'>
                  <button  name='edit' value={{ friend['id'] }} method='get'>Edit?</button>
                </form>
              </td>
              <td>
                <button name='delete' value={{ friend['id'] }} method='post'>I hate them now.</button>
              </td>
            </form>
          </tr>
          {% endfor %}
        </tfoot>
      </table>
    </div>
  </body>
</html>
